<%- include('partials/_header.ejs'); %>
<%- include('partials/_navbar.ejs'); %>
  <div class="col mt-3">
    <div class="card text-left">
      <div class="card-body">
        <form action="/addcity" method="post">
          <div class="mb-3">
            <label class="form-label">Name City</label>
            <input type="text" name="name_ci" id="name_ci" class="form-control" placeholder="Name City..." aria-describedby="helpId" required>
          </div>
          <div class="mb-3">
            <label for="input-id" class="form-label">Name Departament</label>
              <!-- {{#if data}} -->
              <% if (data) { %>
                <select class="form-select" id="inputGroupSelect01" name="id_dep" required>
                  <option selected>Choose...</option>
                  <!-- {{#each data}} -->
                  <% data.forEach(item => { %>
                    <option value="<%= item.id_dep %>"><%= item.name_dep %></option>
                    <% }) %>
                  <!-- {{/each}} -->
                </select>
              <% } %>
              <!-- {{/if}} -->
          </div>
          <div class="d-grid gap-2 mb-3">
            <button type="submit" class="btn btn-primary btn-block"><i class="bi bi-send"></i> Send</button>
          </div>
        </form>
      </div>
    </div>
  </div>
<%- include('partials/_footer.ejs'); %>